<section class="off-white project">
	<div class="container">
	
		<div class="title">
			<img class="icon" src="assets/images/bloodtide/logo.gif">
		
			<h1>Blood Tide</h1>
			<h2>multiplayer action and real-time strategy hybrid game</h2>
		</div>
		
		<div class="content">

			<div class="responsible-for">
				<img class="wattbo" src="http://wattbodies.chrisw.org/media/Dousoid.png">
				Responsible for:
				<ul>
					<li>TODO</li>
					<li>TODO</li>
					<li>TODO</li>
					<li>TODO</li>
					<li>TODO</li>
				</ul>
			</div>
		
			<div class="video">
				<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/FG8LDgtrm5E?start=190" frameborder="0" allowfullscreen></iframe>
			</div>
			
			<a class="read-more" href="bloodtide.html">
				<button class="red">Read More</button>
			</a>

		</div>
		
		<div class="footer">
		</div>

	</div>
</section>