<section class="red project">
	<div class="container">
	
		<div class="title">
			<img class="icon" src="mfc-ico.png">
		
			<h1>Blood Tide</h1>
			<h2>multiplayer action and real-time strategy hybrid game for the PC</h2>
		</div>
		
		<div class="content">

			<div class="responsible-for">
				Responsible for:
				<ul>
					<li>TODO</li>
					<li>TODO</li>
					<li>TODO</li>
					<li>TODO</li>
					<li>TODO</li>
				</ul>
			</div>
		
			<div class="video">
				<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/FG8LDgtrm5E?start=190" frameborder="0" allowfullscreen></iframe>
			</div>
		
		</div>
		
		<div class="footer">
			
			<div class="see-more">
				<a href="bloodtide.html">More >>></a>
			</div>
		
		</div>

	</div>
</section>