<section class="off-white project">
	<div class="container">
	
		<div class="title">
			<img class="icon" src="assets/images/bloodtide/logo.gif">
		
			<h1>Blood Tide</h1>
			<h2>multiplayer action and real-time strategy hybrid game</h2>
		</div>
		
		<div class="content">

			<div class="responsible-for">
				Responsible for:
				<ul>

					<li class = "category">Action Mode</li>
					<ul><li>RPG System - Hero Abilities</li></ul>

					<li class = "category">RTS Mode</li>
					<ul><li>Camera - Unit Controls - Building</li></ul>
					
					<li class = "category">User Interface</li>
					<ul><li>Unit Stats - Game Lobby - Building</li></ul>
					
				</ul>
			</div>
		
			<div class="video">
				<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/FG8LDgtrm5E?start=190" frameborder="0" allowfullscreen></iframe>
			</div>
			
			<a class="read-more" href="/bloodtide/">
				<button class="red">Read More</button>
			</a>

		</div>
		
		<div class="footer">
		</div>

	</div>
</section>