---
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		
		<title>chrisw</title>

		<link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
		<link rel="stylesheet" type="text/css" href="/assets/css/project-feature.css" />
		<link rel="stylesheet" type="text/css" href="/assets/css/buttons.css" />
		<link rel="stylesheet" type="text/css" href="/assets/css/bloodtide/landing.css" />

		{% include utility/carousel.html %}

	</head>

	<body>
	
		{% include navbar.html %}
				
		<div class="begin"></div>

<section class="white twomodes">
	<div class="container">
	
		<div class="section-title">Two Ways To Play</div>

		<div class="left column">
			<div class="title">Tactical-Commander Mode</div>
			<div class="title2">(RTS)</div>
			<img src="http://bloodtide.chrisw.org/media/ConstructBuilding.jpg">
			<!-- <img src="http://bloodtide.chrisw.org/media/Tactical-Commander.jpg"> -->
			<div class="desc">
<p>
The tactical-commander is played similar to an RTS game with a bird's eye view.
When the game begins, the player starts in the tactical-commander role.
As the tactical-commander, the player has the ability to issue orders to units and construct buildings.
The orders that can be issued are: move to position, attack to position, or attack enemy unit.
From this role the player can enter the field-commander role and will be returned to this role if the player's field-commander is killed.
<p>
In addition to issuing orders, the player can also build three types of buildings: gaurd tower, farm and armory.
The tactical-commander must strategically construct buildings to strengthen the faction's units and protect his or her bases.
			</div>
		</div>

		<div class="right column">
			<div class="title">Field-Commander Mode</div>
			<div class="title2">(Action RPG)</div>
			<!-- <img src="http://bloodtide.chrisw.org/media/SelectCommander.jpg"> -->
			<img src="http://bloodtide.chrisw.org/media/Field-Commander.jpg">
			<div class="desc">
<p>
The field-commander is played like an action game with a third-person chase camera.
At the start of the game session, the player has the ability to choose which type of field-commander to play as.
Each headquarters will spawn a different type of field-commander that coincides with the regular units that spawn from that headquarters.
If a player wishes to change to a different field-commander type, the player must move the field-commander back to any friendly headquarters.
<p>
All units and the field-commander will start with one attack.
For instance, both a unit and field-commander turtle will start off with the wave cannon ability;
however, only the field-commander is capable of unlocking the next two abilities for the unit type.
These abilities are unlocked for the field-commander upon promotion, which are shell barrier and bite for the turtle commander.
When a training facility is built, both the field-commander and the normal units of that type will be upgraded.
			</div>
		</div>

	</div>
</section>


<br>
<br>
<br>

----------------------------------------



Development

Blood Tide was created using the C4 engine (version 1.5.9).
All coding was done in C++. 

Development Time: ~8 months

		<div class="sep"></div>

		{% include bloodtide/units.html %}

		<div class="sep"></div>

		{% include utility/project-feature.html data=site.data.megafamecasino.features.spectate %}

		<div class="sep"></div>

		{% include utility/project-feature.html data=site.data.megafamecasino.features.quadcrush %}

		<div class="sep"></div>

		{% include utility/project-feature.html data=site.data.megafamecasino.features.friends %}

		<div class="sep"></div>

		{% include utility/project-feature.html data=site.data.megafamecasino.features.challenges %}

	</body>

</html>