---
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		
		<title>Blood Tide</title>

		<link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
		<link rel="stylesheet" type="text/css" href="/assets/css/project-feature.css" />
		<link rel="stylesheet" type="text/css" href="/assets/css/buttons.css" />
		<link rel="stylesheet" type="text/css" href="/assets/css/bloodtide/landing.css" />

		{% include utility/carousel-header.html %}

	</head>

	<body>
	
		{% include navbar.html %}
				
		<div class="begin"></div>

		<section class="white intro">
			<div class="container">

				<img src="/assets/images/bloodtide/logo.jpg">
				<div class="text">
					Blood Tide is a multiplayer, online, action, real-time strategy game for the PC.
					The game allows players to experience both the strategic management of an army in command mode and the fast-paced,
					action-packed combat on the battlefield alongside other troops in field mode.
				</div>
			</div>
		</section>

		<div class="sep"></div>

		<section class="white twomodes">
			<div class="container">
			
				<div class="section-title">Two Ways To Play</div>

				<div class="left column">
					<div class="title">Tactical-Commander Mode</div>
					<div class="title2">(RTS)</div>
					<img src="http://bloodtide.chrisw.org/media/ConstructBuilding.jpg">
					<!-- <img src="http://bloodtide.chrisw.org/media/Tactical-Commander.jpg"> -->
					<div class="desc">
						<p>
						<ul>
							<li>Control three bases</li>
							<li>Unique units spawn at each base</li>
							<li>Construct two improvements per base</li>
							<li>Can spawn a commander and play it</li>
						</ul>
					</div>
				</div>

				<div class="right column">
					<div class="title">Field-Commander Mode</div>
					<div class="title2">(Action RPG)</div>
					<!-- <img src="http://bloodtide.chrisw.org/media/SelectCommander.jpg"> -->
					<img src="http://bloodtide.chrisw.org/media/Field-Commander.jpg">
					<div class="desc">
						<p>
						<ul>
							<li>Three unique heroes per faction</li>
							<li>Level up to unlock abilities</li>
							<li>Can switch back to RTS mode at any time</li>
						</ul>
					</div>
				</div>

			</div>
		</section>

		<br>
		<center>
		Blood Tide was created using the C4 engine in C++. Development Time: ~8 months
		</center>
		
		<div class="sep"></div>

		{% include bloodtide/units.html %}

	</body>

</html>