---
---

// http://codepen.io/derekmorash/pen/XddZJY/

.read-more {
	//Colours
	$red: #e74c3c;
	$yellow: #f1c40f;
	$purple: #8e44ad;
	$turquoise: #1abc9c;

	// Basic Button Style
	button {
		
		box-sizing: border-box;
		background-color: transparent;
		padding: 0.6em 1.0em;
		border: 2px solid;
		border-radius: 0.6em;

		cursor: pointer;
		align-self: center;

		line-height: 1;
		text-align: center;
		text-decoration: none;
		
		font-size: 24px;
		font-family: cursive;
		font-weight: 700;

		&:hover,
		&:focus {
			outline: 0;
		}
	}

	button.blue {
		$blue: #3498db;

		border-color: $blue;
		color: #fff;
		box-shadow: 0 0 40px 40px $blue inset, 0 0 0 0 $blue;
		transition: all 150ms ease-in-out;
	}

	button.red {
		$red: #e74c3c;

		border-color: $red;
		color: #fff;
		box-shadow: 0 0 40px 40px $red inset, 0 0 0 0 $red;
		transition: all 150ms ease-in-out;
	}

	button.black {
		$black: #000000;

		border-color: $black;
		color: #fff;
		box-shadow: 0 0 40px 40px $black inset, 0 0 0 0 $black;
		transition: all 150ms ease-in-out;
	}

	button.orange {
		$orange: #FF8C00;

		border-color: $orange;
		color: #fff;
		box-shadow: 0 0 40px 40px $orange inset, 0 0 0 0 $orange;
		transition: all 150ms ease-in-out;
	}

	button.green {
		$green: #2ecc71;

		border-color: $green;
		color: #fff;
		box-shadow: 0 0 40px 40px $green inset, 0 0 0 0 $green;
		transition: all 150ms ease-in-out;
	}

	button.dark-green {
		$dark-green: #006400;

		border-color: $dark-green;
		color: #fff;
		box-shadow: 0 0 40px 40px $dark-green inset, 0 0 0 0 $dark-green;
		transition: all 150ms ease-in-out;
	}
}
