---
---

section.intro {

	min-height: 250px;

	#me {
		width: 250px;
		height: 200px;
		float: left;
		margin-right: 20px;
	}
}

section.separator {
	text-align: center;
	line-height: 75px;
	font-size: 50px;
}

.video {
	iframe {
		width: 700px;
		height: 400px;
	}
}

.begin {
	height: 50px;
}

.sep {
	max-width: 1240px;
	height: 2px;
	background-color: lightblue !important;
	margin: 50px auto 50px auto;
}

h1 {
	color: #2a2a2a;
	font-size: 38px;
    line-height: 1.4;
    margin: 0 auto 10px;
    font-weight: bold;
	font-family: monospace;
}

h2 {
	font-size: 24px;
	font-style: normal;
	color: #2a2a2a;
	font-family: cursive;
    margin: 5px 0px 0px 140px;
}

