---
---

@import 'fonts';

body {
	padding: 0px;
	margin: 0px;
	@include font-default-general;
}

.section-title {
	@include font-default-titles;
	margin: 20px;
}

.technologies {
	text-align: center;
}

.technologies ul {
	display: inline-block;
	vertical-align: top;
	text-align: left;
	margin: 30px 35px 0px 35px;
}


.sep {
	max-width: 1240px;
	height: 2px;
	background-color: lightblue !important;
	margin: 50px auto 50px auto;
}


section.project {
	position: relative;
	// width: 100%;
	// min-height: 380px;
	// margin: 0 auto;
	
	.container {
		max-width: 1240px;
		margin: 0px auto;
	}
	
	.title {
	
		height: 150px;
	
		.icon {
			width: 100px;
			float: left;
			margin-right: 25px;
		}
	}
	
	.content {

		position: relative;
	
		.responsible-for {

			float: left;
			font-size: 20px;
			max-width: 450px;

			h1 {
				color: #2a2a2a;
				font-size: 38px;
				line-height: 1.4;
				margin: 0 auto 10px;
				font-weight: bold;
				font-family: monospace;
			}

			h2 {
				font-size: 24px;
				font-style: normal;
				color: #2a2a2a;
				font-family: cursive;
				margin: 5px 0px 0px 140px;
			}

			ul {

				li {
					margin-bottom: 10px;
				}

				ul {
					// display: none;
				}
			}
		}
		
		.video {
			float: right;

			iframe {
				width: 700px;
				height: 400px;
			}
		}
		
		&::after {
			content: '';
			display: block;
			clear: both;
		}

		.read-more {
			position: absolute;
			bottom: 0px;
			left: 0px;
		}
	}

	.footer {

		height: 50px;
		margin-top: 25px;
	
		// app store icons ....
		.play-at-badges {
			// position: absolute;
			// bottom: 10px;
			// left: 25px;
			
			float: right;
			
			a {
				margin-left: 5px;
			}
		}
	}
	
}
