<section class="off-white project">
	<div class="container">
	
		<div class="title">
			<img class="icon" src="assets/images/yuku/logo.jpg">
		
			<h1>Yuku</h1>
			<h2>community forums website</h2>
		</div>
		
		<div class="content">

			<div class="responsible-for">
				<br>
				Worked with another engineer to bring these features to yuku.com:
				<ul>
					<li class = "category">Sitewide Search</li>
					<li class = "category">Tile Interface</li>
					<li class = "category">New Mobile App</li>
					<li class = "category">New Landing Page</li>
					<li class = "category">New Profile Page</li>
					<li class = "category">New User Galleries</li>
				</ul>

			</div>
		
			<div class="video">
				<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/2sr9vGQvTcQ" frameborder="0" allowfullscreen></iframe>
			</div>

			<a class="read-more" href="/yuku/">
				<button class="light-blue">Read More</button>
			</a>
		
		</div>
		
		<div class="footer">
		</div>

	</div>
</section>