<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>

<script type="text/javascript" src="//code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>

<style>

	.slick-prev:before, .slick-next:before { 
		color:red !important;
	}

</style>

<script>

	$(function() {
		$('.carousel.single-image').slick({
			dots: true,
			infinite: true,
			lazyLoad: 'ondemand',
			speed: 500,
			// fade: true, -- lazy loading not working with fade
			slidesToShow: 1,
			slidesToScroll: 1,
			cssEase: 'linear'
		});
	});

/*
	$(document).ready(function(){
		$('.your-class').slick({
			dots: true,
			arrows: true,
			infinite: false,
			slidesToShow: 3,
			slidesToScroll: 3,
			speed: 500
		});
	});

	$('.slider-for').slick({
		slidesToShow: 1,
		slidesToScroll: 1,
		arrows: false,
		fade: true,
		asNavFor: '.slider-nav'
	});

	$('.slider-nav').slick({
		slidesToShow: 3,
		slidesToScroll: 1,
		asNavFor: '.slider-for',
		dots: true,
		// centerMode: true,
		focusOnSelect: true
	});
*/

</script>