<section class="white project-feature-two-column">
	<div class="container">
	
		<div class="left column">
		
			<div class="title">
				<h1>{{ include.data.title }}</h1>
			</div>

			<div class="content">
				<h2>{{ include.data.what }}</h2>
				<br>
				<ul>
			
					{% for entry in include.data.desc %}
					
						<li>{{ entry }}</li>

					{% endfor %}

				</ul>
			</div>

		</div>

		{% comment %}
			TODO: Figure out a better way to generate ids.
		{% endcomment %}

		{% assign fullscreenWindowId = include.data.title %}

		<div class="right column">
			
			<div class="video">
				<div class="carousel single-image" data-fullscreenWindowId="{{ fullscreenWindowId }}">
				
					{% for image in include.data.images %}
					
						<div><div><img data-lazy="{{ image }}"></div></div>
					
					{% endfor %}
				
				</div>
			</div>

			<div id="{{ fullscreenWindowId }}" class="fullscreenWindow">

				<div class="carousel single-image fullscreen">
				
					{% for image in include.data.images %}
					
						<div><div><img data-lazy="{{ image }}"></div></div>
					
					{% endfor %}
				
				</div>

			</div>
			
		</div>

	</div>
</section>