<section class="white project-feature-two-column">
	<div class="container">
	
		<div class="left column">
		
			<div class="title">
				<div>{{ include.data.title }}</div>
			</div>

			<div class="content">
				<div class="what">{{ include.data.what }}</div>
				<ul>

					{% for entry in include.data.desc %}
					
						<li>{{ entry }}</li>

					{% endfor %}

				</ul>
			</div>

		</div>

		<div class="right column">
			
			<div class="video">
				{% include utility/carousel.html images=include.data.images type="single-image" max-width="1024px" height="768px" margin="0 auto" %}
			</div>

		</div>

	</div>
</section>