---
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		
		<title>chrisw</title>

		<link rel="stylesheet" type="text/css" href="assets/css/main.css" />
		<link rel="stylesheet" type="text/css" href="assets/css/landing.css" />
	
	</head>
  
	<body>
	
		{% include navbar.html %}
		
		<section class="white project">
			<div class="container">
				<img id="me" src="http://blindman.chrisw.org/media/ChrisPlaying.jpg">
				Welcome to the portfolio of <b>Chris Williams</b>
				<br><br>
				I am a TODO
				<br><br>
				Questions, comments? Feel free to contact me at
				<br><br>
				<span id = "contact">{{site.email}}<br></span>
			</div>
		</section>

		<section class="dark-grey separator">
			<div class="container">
				Professional Projects
			</div>
		</section>
		
		{% include megafamecasino/intro.html %}
		
		<section class="dark-grey separator">
			<div class="container">
				Student Projects
			</div>
		</section>
		
		{% include bloodtide/intro.html %}

		<section class="white project">
			<div class="container">
			
				<div class="title">
					<img class="icon" src="mfc-ico.png">
				
					<h1>Blood Tide</h1>
					<h2>multiplayer action and real-time strategy hybrid game for the PC</h2>
				</div>
				
				<div class="content">

					<div class="responsible-for">
						Responsible for:
						<ul>
							<li>TODO</li>
							<li>TODO</li>
							<li>TODO</li>
							<li>TODO</li>
							<li>TODO</li>
						</ul>
					</div>
				
					<div class="video">
						<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/FG8LDgtrm5E?start=190" frameborder="0" allowfullscreen></iframe>
					</div>
				
				</div>
				
				<div class="footer">
					
					<div class="see-more">
						<a href="bloodtide.html">More >>></a>
					</div>
				
				</div>

			</div>
		</section>		
		
	</body>

</html>