---
---

.begin {
	height: 75px;
}

.twomodes {

	.container {
		text-align: center;
	}

	.section-title {
		font-size: 24px;
	}

	.column {
		width: 700px;
		margin: 40px;

		display: inline-block;
		vertical-align: top;
		
		.title {
			font-size: 24px;
		}

		.title2 {
			font-size: 24px;
			margin-bottom: 25px;
		}

		.desc {
			text-align: left;
		}
	}

	.left.column {

	}

	.right.column {

	}

	img {
		width: 100%;
	}
}
