<style>
	.a2by2 {
		padding: 5px;
	}

	.preview3 {
		width: 49.5%;
		overflow: hidden;
		height: 400px;
		display: inline-block;
	}
</style>

<section class="dark-grey a2by2">
	<center>
		<div class="preview3"><img class="preview2" src="assets/images/megafamecasino/poker.png"></div>
		<div class="preview3"><img class="preview2" src="assets/images/megafamecasino/tmac-slots.png"></div>
		<div class="preview3"><img class="preview2" src="assets/images/megafamecasino/videopoker.png"></div>
		<div class="preview3"><img class="preview2" src="assets/images/megafamecasino/poker-tournament.png"></div>
	</center>
</section>