<section class="off-white project">
	<div class="container">
	
		<div class="title">
			<img class="icon" src="assets/images/megafamecasino/logo.png">
		
			<h1>Mega Fame Casino</h1>
			<h2>- social casino game (slots and poker)</h2>
		</div>
		
		<div class="content">

			<div class="responsible-for">
				Responsible for:
				<ul>
					<li>TODO</li>
					<li>TODO</li>
					<li>TODO</li>
					<li>TODO</li>
					<li>TODO</li>
				</ul>
			</div>
		
			<div class="video">
				<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/NCqv58749yk" frameborder="0" allowfullscreen></iframe>
			</div>

			<a class="read-more" href="megafamecasino.html">
				<button class="green">Read More</button>
			</a>

		</div>
		
		<div class="footer">
		
			<div class="play-at-badges">
			
				<a target="_blank" href="https://itunes.apple.com/us/app/mega-fame-casino-free-celebrity-slots-poker/id549908326">
					<!--<img src="app-store-badge.svg">-->
					<img src="assets/images/icons/appstore-button.png">
				</a>
				
				<a target="_blank" href="https://play.google.com/store/apps/details?id=com.plaor.hwp">
					<!--<img alt="Get it on Google Play" src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png">-->
					<img src="assets/images/icons/googleplay-button.png">
				</a>
				
				<!--
				<a target="_blank" href="https://www.facebook.com/MegaFameCasino/">
					<img src="assets/images/icons/FB-f-Logo__blue_50.png">
				</a>
				-->
				
			</div>

		</div>

	</div>
</section>