---
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		
		<title>chrisw</title>

		<link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
		<link rel="stylesheet" type="text/css" href="/assets/css/project-feature.css" />
		<link rel="stylesheet" type="text/css" href="/assets/css/buttons.css" />

		{% include utility/carousel.html %}

	</head>

	<body>
	
		{% include navbar.html %}
				
		<div class="begin"></div>

		{% include utility/project-feature.html data=site.data.megafamecasino.features.poker %}

		<div class="sep"></div>

		{% include utility/project-feature.html data=site.data.megafamecasino.features.spectate %}

		<div class="sep"></div>

		{% include utility/project-feature.html data=site.data.megafamecasino.features.quadcrush %}

		<div class="sep"></div>

		{% include utility/project-feature.html data=site.data.megafamecasino.features.friends %}

		<div class="sep"></div>

		{% include utility/project-feature.html data=site.data.megafamecasino.features.challenges %}

	</body>

</html>