<section class="off-white project">
	<div class="container">
	
		<div class="title">
			<img class="icon" src="assets/images/blindman/logo.png">
		
			<h1>Blind Man's Last Stand</h1>
			<h2>a zombie survival game that takes place entirely on the player's hat</h2>
		</div>
		
		<div class="content">

			<div class="responsible-for">
				Responsible for:
				<ul>
					<li>TODO</li>
					<li>TODO</li>
					<li>TODO</li>
					<li>TODO</li>
					<li>TODO</li>
				</ul>
			</div>
		
			<div class="video">
				<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/YTDlAT7XJSE" frameborder="0" allowfullscreen></iframe>
			</div>

			<a class="read-more" href="blindman.html">
				<button class="dark-green">Read More</button>
			</a>
		
		</div>
		
		<div class="footer">
		</div>

	</div>
</section>