<section class="off-white project">
	<div class="container">
	
		<div class="title">
			<img class="icon" src="assets/images/blindman/logo.png">
		
			<h1>Blind Man's Last Stand</h1>
			<h2>a zombie survival game that takes place entirely on the player's hat</h2>
		</div>
		
		<div class="content">

			<div class="responsible-for">
				<br>
				My main job was to get the gyroscope working, so that the player could rotate their head and have it rotate the player in the game.
				<br>
				<br>
				Also helped finish up the Unity game logic, implementing attacking zombies in a cone in front of the player 
				and creating a basic U.I. so that we could demonstrate that the game was functioning properly.
			</div>
		
			<div class="video">
				<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/YTDlAT7XJSE" frameborder="0" allowfullscreen></iframe>
			</div>

			<a class="read-more" href="/blindman/">
				<button class="dark-green">Read More</button>
			</a>
		
		</div>
		
		<div class="footer">
		</div>

	</div>
</section>