<section class="off-white project">
	<div class="container">
	
		<div class="title">
			<img class="icon" src="assets/images/willow/logo.png">
		
			<h1>Willow</h1>
			<h2>an interactive puzzle game with a strong emphasis on story and emotional impact</h2>
		</div>
		
		<div class="content">

			<div class="responsible-for">
				Responsible for:
				<ul>
					<li>TODO</li>
					<li>TODO</li>
					<li>TODO</li>
					<li>TODO</li>
					<li>TODO</li>
				</ul>
			</div>
		
			<div class="video">
				<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/2sr9vGQvTcQ" frameborder="0" allowfullscreen></iframe>
			</div>

			<a class="read-more" href="willow.html">
				<button class="black">Read More</button>
			</a>
		
		</div>
		
		<div class="footer">		
		</div>

	</div>
</section>