<section class="off-white project">
	<div class="container">
	
		<div class="title">
			<img class="icon" src="assets/images/willow/logo.png">
		
			<h1>Willow</h1>
			<h2>an interactive puzzle game with a strong emphasis on story and emotional impact</h2>
		</div>
		
		<div class="content">

			<div class="responsible-for">
				<br>
				Worked on a small group to create a pixel shader to selectively show colors,
				which allowed us to show only red, green or blue colors (and any combination of).
				<br>
				<br>
				Took that shader and converted it to a full-screen post processing effect, 
				so it could be applied to the UI and every object in the scene.
				<br>
				<br>
				Also built the inventory system, puzzles and UI for the game.
			</div>
		
			<div class="video">
				<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/2sr9vGQvTcQ" frameborder="0" allowfullscreen></iframe>
			</div>

			<a class="read-more" href="/willow/">
				<button class="black">Read More</button>
			</a>
		
		</div>
		
		<div class="footer">		
		</div>

	</div>
</section>