<section class="white project">
	<div class="container">
	
		<div class="title">
			<img class="icon" src="assets/images/wattbodies/logo.png">
		
			<h1>Watt Bodies</h1>
			<h2>multiplayer cooperative puzzle game geared towards children</h2>
		</div>
		
		<div class="content">

			<div class="responsible-for">
				Responsible for:
				<ul> 
					
					<li class = "category">Robot Mechanics</li>
					<li class = "category">Puzzles</li>
					<li class = "category">User Interface</li>
					<li class = "category">Multiplayer Synchronization</li>

				</ul>
			</div>
		
			<div class="video">
				<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/uZajpLD29Ko" frameborder="0" allowfullscreen></iframe>
			</div>

			<a class="read-more" href="wattbodies.html">
				<button class="orange">Read More</button>
			</a>
		
		</div>
		
		<div class="footer">
		</div>

	</div>
</section>